.div1{
    background-color: rgb(255, 234, 234);
    border:2px;
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;

    
}

#wTitle{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2.5px;
    color: rgb(71, 70, 63);
    
}